body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

p, ul {
  font-size: 23px;
}

a { 
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: x-large;
}

.overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 14vw;
  height: 14vw;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 14vw;
  border: 4px solid silver;
  margin: auto;
  background: black;
}

.contact-icons {
  background: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#svg2 {
  height: 65vh;
  margin-top: 12px;
}

#svg3 {
  margin-top: 70px;
}

#foo {
  font-size: 1.1em;
}

#landing {
  height: 100vh;
  background: radial-gradient(#2e3033, black);
  /*background: linear-gradient(300deg, #02051e, #555769, #979ab0, #b0b4cb);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 29s ease infinite;
  -moz-animation: AnimationName 29s ease infinite;
  animation: AnimationName 29s ease infinite;*/
}


/*@-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes AnimationName { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}*/

#portrait {
  flex: 0 0 17vw;
  height: 17vw;
  width: 17vw;
}

img {
	height: 140%;
}

#projects {
	margin-top: 1.9vw;
}

#contact {
	margin-top: 1.9vw;
}

#contact-row {
  margin-top: 19vh;
  margin-bottom: 65vh;
}

#icons {
	width: 70vw;
	padding-top: 32vh;
	margin: auto;
}

#mobile-icons {
  width: 82vw;
	padding-top: 16vh;
	margin: auto;
}

#mobile-icons .img {
  flex: 0 0 24vw;
  height: 24vw;
  width: 24vw;
}

#mobile-icons #portrait {
  flex: 0 0 50vw;
  height: 50vw;
  width: 50vw;
}

#mobile-icons .fa-pencil {
  font-size: 16vw;
  color: white;
  padding-top: 2.75vw;
  padding-left: 0.55vw;
}

#mobile-icons .fa-address-book {
  font-size: 13.5vw;
  color: white;
  padding-top: 4.35vw;
  padding-left: 1.25vw;
}

#mobile-icons h2 {
  color: beige;
  font-size: 30px;
  margin-top: 2.5vh;
  margin-bottom: 20vh;
}

#mobile-contact-row {
  margin-top: 8vh;
  margin-bottom: 34vh;
  margin-left: auto;
  margin-right: auto;
  width: 78vw;
}

#mobile-contact-row .col-sm-6 {
  height: 38vw;
}

#mobile-contact-row .img {
  flex: 0 0 30vw;
  height: 30vw;
  width: 30vw;
}

#mobile-contact-row .fa-github {
  margin-top: -27px;
  margin-left: 0.4vw;
  font-size: 35.5vw;
}

#mobile-contact-row .fa-file-text {
  font-size: 18vw;
  margin-top: 5.25vw;
  margin-left: 1.25vw;
}

#mobile-contact-row .fa-linkedin-square {
  font-size: 22.2vw;
  margin-top: 3.5vw;
}

#mobile-contact-row .fa-envelope {
  font-size: 18.5vw;
  margin-top: 4.75vw;
  margin-left: 0.25vw;
}

.fa-pencil {
	font-size: 9vw;
	color: white;
	padding-top: 1.75vw;
	padding-left: 0.55vw;
}

.fa-address-book {
	font-size: 8.5vw;
  color: white;
  padding-top: 2.35vw;
  padding-left: 0.75vw;
}

.fa-github {
  margin-top: -21px;
  margin-left: 0.3vw;
  font-size: 16.5vw;
}

.fa-file-text {
  font-size: 9vw;
  margin-top: 2vw;
  margin-left: 0.5vw;
}

.fa-linkedin-square {
  font-size: 10.5vw;
  margin-top: 1.5vw;
}

.fa-envelope {
  font-size: 9.5vw;
  margin-top: 1.75vw;
  margin-left: 0.25vw;
}

.border {
	border: 5px solid red;
}

.svg-container {
  padding: 0 15px; }
  .svg-container .popover {
    font-family: "Lato", sans-serif;
    font-weight: 400; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 150 / 100), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
      .svg-container .popover {
        font-weight: 300; } }
svg text {
  fill: #444;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  stroke: none;
  text-anchor: middle; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 150 / 100), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    svg text {
      font-weight: 300; } }
      
.popover,
.dropdown-menu {
  border-color: #eee;
  border-radius: 0;
  box-shadow: none; }

.popover {
  max-width: 450px; }

.metadata {
  width: 190px; }
  
.command-popover {
  width: 450px; }

.popover-title {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  color: #222;
  font-weight: 900; }
  
  .metadata p {
  color: #222;
  font-size: 8px;
  margin-bottom: 0;
  text-align: left; }
  @media (min-width: 480px) {
    .metadata p {
      font-size: 12px; } }
  .metadata p .name {
    font-weight: 900;
    padding-right: 10px; }
  .metadata p .value {
    color: #444;
    float: right; }
.metadata .fault {
  background-color: #5bc0de;
  margin-bottom: 10px;
  padding: 10px; }
  .metadata .fault p {
    color: #fff;
    text-align: center; }
  .metadata .fault .name {
    font-size: 14px;
    font-weight: 900; }
    @media (min-width: 480px) {
      .metadata .fault .name {
        font-size: 18px; } }